##################################
# ROS 2 build artifacts
##################################
build/
install/
log/

##################################
# Colcon / ament
##################################
*.log
.colcon/

##################################
# Python
##################################
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

##################################
# CMake
##################################
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

##################################
# IDEs & Editors
##################################
.vscode/
.idea/
*.swp
*.swo

##################################
# OS files
##################################
.DS_Store
Thumbs.db

##################################
# ROS bag files
##################################
*.db3
*.bag
*.bag.active

##################################
# Temporary / backups
##################################
*~
*.bak

.github/

# MkDocs build output
site/

# if this is a generated folder in your repo
gh-pages/
